<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculsSimplesPortBinding" />
                <binding name="CalculsSimplesPortBinding1" />
                <binding name="WSOptimODEPortBinding" />
                <binding name="OdeServiceImplPortBinding" />
                <binding name="OdeServiceImplPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MathsWebService/CalculsSimples"
                binding="basicHttpBinding" bindingConfiguration="CalculsSimplesPortBinding"
                contract="webservice1.CalculsSimples" name="CalculsSimplesPort" />
            <endpoint address="http://localhost:8080/MathsWebService/CalculsSimples"
                binding="basicHttpBinding" bindingConfiguration="CalculsSimplesPortBinding1"
                contract="CalculsSimples.CalculsSimples" name="CalculsSimplesPort1" />
            <endpoint address="http://localhost:8080/WSOptimiseur/WSOptimODE"
                binding="basicHttpBinding" bindingConfiguration="WSOptimODEPortBinding"
                contract="WSOptimiseur.WSOptimODE" name="WSOptimODEPort" />
            <endpoint address="http://localhost:8080/WebServiceOde/OdeServiceImplService"
                binding="basicHttpBinding" bindingConfiguration="OdeServiceImplPortBinding"
                contract="OdeService.OdeService" name="OdeServiceImplPort" />
            <endpoint address="http://localhost:8080/WebServiceOde/OdeServiceImplService"
                binding="basicHttpBinding" bindingConfiguration="OdeServiceImplPortBinding1"
                contract="OdeService.OdeService" name="OdeServiceImplPort1" />
        </client>
    </system.serviceModel>
</configuration>